@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// null
@import "nullstyle";
//@import "fonts";
//@import "header;
//@import "ui";
//@import "footer";

//font-family: 'Kaushan Script', cursive;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 1.6;
	font-weight: 400;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
.wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	
}

.mainscr {
	width: 100%;
	height: 100vh;
	background-image: url(../img/main_back.png);
	background-size: cover;
}
.mainscr__menu {
}
.mainscr__container {
	display: flex;
justify-content: center;




}
.mainscr__menuelement{
	display: flex;
justify-content: space-between;
padding: 30px 0px 0px 0px;
}
.mainscr__item-menu {
	font-size: 14px;
	transition: color 0.4s ease 0s;
	display: inline-block;
	margin: 0px 40px 0px 0px;
	position: relative;
}
.mainscr__item-menu.active a {
	color: #fce38a;
}
.mainscr__item-menu a {
	color: #ffffff;
	display: inline-block;
}
.mainscr__item-menu a:hover{
color: #fce38a;
}
/*.mainscr__item-menu:hover{
border-bottom: 3px solid #fce38a;

}*/
.mainscr__item-menu::after{
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	background-color:#fce38a ;
	opacity: 0;
	transition: opacity 0.4s ease 0s;
	
	
}
.mainscr__item-menu.active::after,
.mainscr__item-menu:hover::after{
opacity: 1;
}

	


.mainscr__logo{
flex: 0 1 33.33%;
font-size: 30px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
padding: 22px 0px 0px 0px;



}
.mainscr__icon{
	padding: 0px 40px 0px 0px;
	
}


.mainscr__title {
}
.mainscr__columns {
	display: flex;
flex-direction: column;
align-items: center;





}
.mainscr__firstcol {
	font-family: 'Kaushan Script';
font-size: 72px;
line-height: 1.2;
font-weight: 400;
color: #ffffff;
margin: 100px 0px 30px 0px;

}
@media (max-width: 967px) {
	.mainscr__firstcol{
	font-size: 44px;
	margin:60px 0px 30px 0px;
}
.mainscr__logo{
	margin: 0px 0px 0px 20px;
	
}

}
@media (max-width: 420px){
	.mainscr__item-menu{
		display: none;
	}
	.mainscr__secondcol{
		font-size: 44px;
		line-height: 70px;
	}
	.mainscr__slide-item{
		flex: 0 0 40%;
		font-size: 28px;
		display: none;
		}
		.mainscr__slide-item.active{
			display: flex;
			
		}
.mainscr__slide-item span {
	font-size: 24px;
	display: inline-block;
	margin: 3px 0px 0px 10px;
	
}
.mainscr__slide-item.active::after{
	width: 40%;
}
}
.mainscr__secondcol {
font-size: 150px;
line-height: 140px;
font-weight: 700;
color: #ffffff;
width: 70%;
text-align: center;
text-transform: uppercase;



}
@media (max-width: 967px) {
	.mainscr__secondcol{
	font-size: 100px;
	line-height: 110px;
	
}
.mainscr__slide-item{
	flex: 0 0 20%;
}
}
@media (max-width: 768px){
	.mainscr__slide-item{
		flex: 0 0 21%;
	}
}
.mainscr__secondcol::after{
	content: '';
	width: 60px;
height: 3px;
background-color: #ffffff;
display: block;
margin: 50px auto 0px ;



	
}
.mainscr__btn {
text-align: center;
line-height: 2.5;
font-weight: 700;
border: 3px solid #ffffff;
width: 160px;
height: 40px;
margin: 50px 0px 0px 0px;
transition: all 0.4s ease 0s;

}
.mainscr__btn a {
	color: #ffffff;
	display: inline-block;
	padding: 0 20px;
	transition: all 0.4s linear	 0s;
	
}
.mainscr__btn a:hover{
	color: #333333;
	
}
.mainscr__btn:hover{
	background-color: #fce38a;
	color: #333333;
	box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

	
}

.mainscr__slidebar {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.mainscr__container-slidebar {
	display: flex;
justify-content: center;

align-items: flex-end;
height: 25vh;

}
.mainscr__slide-item {
	font-size: 24px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
position: relative;
border-top: solid #ffffff;
flex: 0 0 12%;
padding: 10px 0;
margin: 0px 15px 0px 0px;

}
.mainscr__slide-item:last-child{
	margin: 0px 0px 0px 0px;
	
}

.mainscr__slide-item.active span{
	opacity: 1;

}
.mainscr__slide-item span{
	font-size: 18px;
font-weight: 400;
opacity: .7	;
}


.mainscr__slide-item.active::after{
	box-shadow: 3px 2px 10px 0px rgba(0, 255, 255, 0.6);
	content: '';
	height: 3px;
	width: 80px;
	background-color:#f38181;
	position: absolute;
	top: -3px;left: 0;
	z-index: 1;
}

