@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// null
@import "nullstyle";
//@import "fonts";
@import "header";
//@import "ui";
//@import "footer";
@import "media";

//font-family: 'Kaushan Script', cursive;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 1.6;
	font-weight: 400;

}
*,
*::after,
*::before {
	box-sizing: border-box;
}
.wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	
}

.intro {
	width: 100%;
	height: 100vh;
	background-image: url(../img/main_back.png);
	background-size: cover;
}

.intro__box {
	display: flex;

	align-items: center;
	flex-direction: column;
	padding: 160px 50px 0px 50px;
	

}
.intro__subtitle {

	font-family: 'Kaushan Script';
font-size: 72px;
line-height: 1.2;
padding: 0px 0px 40px 0px;
color: #ffffff;
//font-size: calc(44px + 28 * (100vh / 800));
}

.intro__title {
text-align: center;
font-size: 150px;
line-height: 140px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
position: relative;
//font-size: calc(118px + 32 * (100vh / 800));
}
.intro__title::after{
	content: '';
	width: 60px;
height: 3px;
background-color: #ffffff;
position: absolute;
top: 100%;left:47.5%;
margin: 60px 0px 0px 0px ;
	
}
.intro__btn {
font-weight: 700;
color: #ffffff;
background-color: rgba(0,0,0,0.0);
border: 3px solid #ffffff;
padding: 7px 25px 7px 25px ;
display: block;
margin: 120px 0px 0px 0px;

}
.intro__btn:hover{
	background-color: #f38181;
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
	transition: all 0.5s ease 0s;
	
}
.intro__slider {
	display: flex;
	align-items: flex-end;

	flex-direction: row;
	height: 17vh;
}
.slider__item {
	width: 100%;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	padding: 15px 0px 0px 0px;
	margin: 0 auto;
	

	
}
.slider__item span{
	font-size: 18px;
	font-weight: 400;
}
.slider__item::before{
	content: '';
	width: 280px;
height: 3px;
background-color: #ffffff;
position: absolute;
top: 0;left: 0;
}
.slider__item.active::after{
	content: '';
	width: 75px;
height: 3px;
background-color: #f38181;
position: absolute;
top: 0;left: 0;
}

//================> Section__about:
.about {
	height: 750px;
}
.about__box {
	display: flex;
flex-direction: column;
text-align: center;




}
.about__subtitle {
	font-family: 'Kaushan Script';
font-size: 24px;
line-height: 1.2;
margin: 80px 0px 10px 0px;

}
.about__title {
	font-size: 30px;
line-height: 1.2;
font-weight: 700;
margin: 0px 0px 80px 0px;
position: relative;
}
.about__title::after{
	content: '';
	width: 60px;
height: 3px;
background-color: #f38181;
left: 48%;top: 200%;
position: absolute;
	
}
.about__text {
	font-family: Roboto;
font-size: 15px;
line-height: 24px;
width: 75%;
color: #999999;
margin: 0px auto 100px auto;


}
.about__galery {
	display: flex;
	
}
.about__img {
	margin: 0px 5px;
}
.about__img:first-child{
	position: relative;
}
.about__img:hover{
	box-shadow:  2px 2px 20px 10px #95e1d3;;
}
.about__lable {
position: absolute;
left: 35%;top: 42%;

}
.about__icon {

}
.about__lable-text {
	font-size: 18px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;
}

//===============> section__statistic:
.statistic {
	height: 270px;
	background-color: #95e1d3;
}

.statistic__box {
	height: 270px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: 1px solid rgba(255, 255, 255, .3);


}
.statistic__box-item {
	height: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
position: relative;
flex: 0 1 20%;
border-right: 1px solid rgba(255, 255, 255, .3);

}

.statistic__box-item span{
margin: 70px 0px 10px 0px;

	font-size: 72px;
line-height: 1.2;
font-weight: 700;
color: #ffffff;

}
.statistic__box-item p {
	font-size: 14px;
line-height: 1.2;

text-transform: uppercase;
color: #ffffff;
}

//==============> section__services:
.services {
	height: 650px;
}

.services__subtitle {
	font-family: 'Kaushan Script';
font-size: 24px;
line-height: 1.2;
text-align: center;
margin: 140px 0px 10px 0px;


}
.services__title {
	font-size: 30px;
line-height: 1.2;
font-weight: 700;
text-align: center;
position: relative;
}
.services__title::after{
content: '';
position: absolute;
width: 60px;
height: 3px;
background-color: #f38181;
left: 47.4%;top: 250%;

}
.services__box {
display: flex;
flex-wrap:wrap;
margin: 140px 0px 0px 0px;
position: relative;

}
.services__box::after{
	content: '';
position: absolute;
left: 0;top: 33.33%;
width: 1200px;
height: 1px;
background-color: #e5e5e5;
}
.services__card {
	flex: 1 0 33.33%;
	display: flex;
	margin: 0px 0px 120px 0px;
	

	
	
}
.services__card-icon {


}
.services__inner-box{
	margin: 0px 0px 0px 20px;
	
}
.services__card-subtitle {
	line-height: 1.2;
font-weight: 700;
margin: 0px 0px 10px 0px;

	
}
.services__card-text {
	font-family: Roboto;
font-size: 15px;
line-height: 24px;
padding: 0px 10px 0px 0px;

color: #999999;
}

//*==================>section__design

.design {
	height: 87.2vh;
	width: 100%;
	background-image: url(../img/design_background.jpg);
	background-size: cover;
}
.design__titles{
display: flex;
flex-direction: column;

}

.design__subtitle {
	font-family: 'Kaushan Script';
font-size: 24px;
line-height: 1.2;
font-weight: 400;color: #333333;
margin: 120px auto 20px auto;
display: inline-block;
text-align: center;

}
.design__title {
	font-size: 30px;
line-height: 1.2;
font-weight: 700;
text-align: center;
position: relative;
margin: 0px 0px 120px 0px;

}
.design__title::after{
	content: '';
	position: absolute;
	width: 60px;
	height: 3px;
	background-color: #f38181;
	left: 48.8%;top: 250%;
}
.design__img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	
	
}
.design__inner-img {
	position: absolute;
	top: 30%;left:55%;

}
//*===================>