/*null*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(230, 132, 129, 0.5);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  padding: 30px 0px 0px 0px;
}

.logo a {
  color: #ffffff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0px 0px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.2;
}

.link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.link.active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.burger {
  display: none;
}

.link {
  display: inline-block;
  color: #ffffff;
  margin: 0px 40px 0px 0px;
}

.icon__link {
  margin: 0px 0px 0px 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.6;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.no-webp .intro {
  background-image: url(../img/main_back.png); }

.intro {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.intro__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 160px 50px 0px 50px;
}

.intro__subtitle {
  font-family: "Kaushan Script";
  font-size: 72px;
  line-height: 1.2;
  padding: 0px 0px 40px 0px;
  color: #ffffff;
}

.intro__title {
  text-align: center;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.intro__title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 47.5%;
  margin: 60px 0px 0px 0px;
}

.intro__btn {
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ffffff;
  padding: 7px 25px 7px 25px;
  display: block;
  margin: 120px 0px 0px 0px;
}

.intro__btn:hover {
  background-color: #f38181;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.intro__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 17vh;
}

.slider__item {
  width: 100%;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding: 15px 0px 0px 0px;
  margin: 0 auto;
}

.slider__item span {
  font-size: 18px;
  font-weight: 400;
}

.slider__item::before {
  content: "";
  width: 280px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__item.active::after {
  content: "";
  width: 75px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: 0;
  left: 0;
}

.about {
  height: 750px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  margin: 80px 0px 10px 0px;
}

.about__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0px 0px 80px 0px;
  position: relative;
}

.about__title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  left: 48%;
  top: 200%;
  position: absolute;
}

.about__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  width: 75%;
  color: #999999;
  margin: 0px auto 100px auto;
}

.about__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  margin: 0px 5px;
}

.about__img:first-child {
  position: relative;
}

.about__img img:hover {
  -webkit-box-shadow: 2px 2px 20px 10px #95e1d3;
          box-shadow: 2px 2px 20px 10px #95e1d3;
}

.about__lable {
  position: absolute;
  left: 35%;
  top: 42%;
}

.about__lable-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.statistic {
  height: 270px;
  background-color: #95e1d3;
}

.statistic__box {
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.statistic__box-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.statistic__box-item span {
  margin: 70px 0px 10px 0px;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.statistic__box-item p {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

.services {
  height: 650px;
}

.services__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin: 140px 0px 10px 0px;
}

.services__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.services__title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  left: 47.4%;
  top: 250%;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 140px 0px 0px 0px;
  position: relative;
}

.services__box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 33.33%;
  width: 1200px;
  height: 1px;
  background-color: #e5e5e5;
}

.services__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 120px 0px;
}

.services__inner-box {
  margin: 0px 0px 0px 20px;
}

.services__card-subtitle {
  line-height: 1.2;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.services__card-text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  padding: 0px 10px 0px 0px;
  color: #999999;
}

.no-webp .design {
  background-image: url(../img/design_background.jpg); }

.design {
  height: 98.6%;
  width: 100%;
  background-size: cover;
}

.design__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.design__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin: 65px auto 20px auto;
  display: inline-block;
  text-align: center;
}

.design__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 0px 0px 120px 0px;
}

.design__title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  left: 48.8%;
  top: 250%;
}

.design__images {
  max-width: 100%;
  height: auto;
  position: relative;
  left: 37%;
  top: 0;
}

.design__inner-img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 16%;
  top: 27%;
}

.work {
  height: 89vh;
  width: 100%;
}

.work__titles {
  margin: 120px 0px 0px 0px;
  text-align: center;
}

.work__subtitles {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  margin: 0px 0px 10px 0px;
}

.work__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  margin: 0px 0px 80px 0px;
}

.work__title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  left: 47.5%;
  top: 200%;
}

.work__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  padding: 0px 7em 0px 7em;
  margin: 0px 0px 80px 0px;
  color: #999999;
}

.work__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__spoiler {
  margin: 0px 0px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.work__spoiler-item {
  border: 1px solid #e5e5e5;
  margin: 0px 0px 10px 0px;
}

.work__spoiler-up {
  border: 1px solid #e5e5e5;
  padding: 15px;
}

.work__btn {
  position: relative;
  font-weight: 700;
  line-height: 1.2;
  background-color: white;
  margin: 0px 0px 0px 10px;
  line-height: 30px;
}

.work__btn::after {
  display: block;
  content: "";
  width: 3px;
  height: 20px;
  background-color: #cccccc;
  position: absolute;
  left: 37em;
  top: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.work__btn::before {
  cursor: pointer;
  content: "";
  width: 3px;
  height: 20px;
  background-color: #cccccc;
  position: absolute;
  left: 38em;
  top: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.work__btn_1.active::after,
.work__btn_2.active::after,
.work__btn_3.active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.work__btn_1.active::before,
.work__btn_2.active::before,
.work__btn_3.active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.work__spoiler-text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  padding: 10px;
  display: none;
  height: 180px;
  overflow: auto;
}

.work__spoiler-text_1.active {
  display: block;
}

.work__spoiler-text_2.active {
  display: block;
}

.work__spoiler-text_3.active {
  display: block;
}

.slider {
  background-color: #f8f8f8;
  height: 290px;
  position: relative;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px 80px 80px;
}

.slider__icon {
  border: 3px solid #95e1d3;
  padding: 40px;
}

.slider__text {
  padding: 0px 0px 0px 40px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  width: 900px;
}

.slider__text p {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  padding: 10px 0px 0px 0px;
  position: relative;
  margin: 0px 0px 0px 65px;
}

.slider__text p::before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  left: -8%;
  top: 60%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 55px;
  color: #cccccc;
  position: absolute;
}

.swiper-button-prev::after {
  left: 350px;
}

.swiper-button-next::after {
  right: 350px;
}

.slider .swiper-pagination-bullet {
  background-color: #95e1d3;
  width: 16px;
  height: 16px;
}

.team {
  text-align: center;
}

.team__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  margin: 100px 0px 10px 0px;
}

.team__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0px 0px 80px 0px;
  position: relative;
}

.team__title::after {
  content: "";
  position: absolute;
  left: 47.4%;
  top: 200%;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.team__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  padding: 0px 100px 0px 100px;
  margin: 0px 0px 60px 0px;
}

.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__img {
  position: relative;
}

.team__img:hover {
  -webkit-box-shadow: 2px 2px 20px 10px #95e1d3;
          box-shadow: 2px 2px 20px 10px #95e1d3;
}

.team__social {
  position: absolute;
  top: 45%;
  background-color: #fce38a;
  padding: 10px;
}

.facebook {
  left: 30%;
  background-color: #f38181;
  padding: 10px 15px 10px 10px;
}

.twiter {
  left: 40%;
  padding: 10px 10px 14px 10px;
}

.pinterest {
  left: 50%;
}

.instagram {
  left: 60%;
}

.team__card-title {
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0px 0px 0px;
}

.team__card-text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin: 0px 0px 100px 0px;
}

.labels {
  height: 250px;
  background-color: #f8f8f8;
}

.labels__img {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galery {
  text-align: center;
}

.galery__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  margin: 100px 0px 10px 0px;
}

.galery__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0px 0px 80px 0px;
  position: relative;
}

.galery__title::after {
  content: "";
  position: absolute;
  top: 200%;
  left: 48.7%;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.galery__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  margin: 0px auto 60px auto;
  width: 900px;
}

.galery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery__box-two {
  position: relative;
}

.galery__inner-box {
  position: absolute;
  top: 70%;
  left: 35%;
}

.inner-box__title {
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 15px 0px 10px 0px;
}

.inner-box__text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
}

.slider__two {
  height: 440px;
  background-color: #ffffff;
}

.slider__icon_two {
  border: none;
}

.slider__text_two {
  margin: 70px 0px 0px 0px;
  padding: 0px 50px 0px 0px;
}

.no-webp .coments {
  background-image: url(../img/coments_back_img.png); }

.coments {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.coments__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  padding: 100px 0px 10px 0px;
  text-align: center;
}

.coments__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  margin: 0px 0px 80px 0px;
  text-align: center;
}

.coments__title::after {
  content: "";
  position: absolute;
  left: 48.2%;
  top: 200%;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.coments__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.coments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 0px 30px;
}

.coments__cards-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
}

.coments__cards-title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 0px 5px 0px;
}

.coments__cards-subtitle {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
  padding: 0px 0px 40px 0px;
  position: relative;
}

.coments__cards-subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 65%;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.coments__cards-text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.blog {
  height: 80vh;
}

.blog__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin: 100px 0px 10px 0px;
  text-align: center;
}

.blog__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  text-align: center;
  margin: 0px 0px 90px 0px;
}

.blog__title::after {
  content: "";
  position: absolute;
  left: 47.6%;
  top: 200%;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.blog__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__date {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #ffffff;
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  text-align: center;
  position: absolute;
  left: -3%;
  top: 37%;
}

.blog__date span {
  display: block;
  font-size: 30px;
  line-height: 0.6;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 4px 0px 0px;
}

.blog__box-item {
  position: relative;
}

.blog__item-title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 0px 10px 0px;
}

.blog__item-text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  position: relative;
  padding: 0px 0px 40px 0px;
}

.blog__item-text::after {
  content: "";
  position: absolute;
  top: 75%;
  left: 0;
  width: 380px;
  height: 1px;
  background-color: #e5e5e5;
}

.blog__social a {
  display: inline-block;
}

.social__view {
  margin: 4px 0px 0px 0px;
}

.social__speech {
  margin: 4px 0px 0px 0px;
}

.blog__social span {
  padding: 0px 7px 0px 7px;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  color: #999999;
}

@media (max-width: 1046px) {
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13.33%;
            flex: 0 0 13.33%;
    margin: 0px 0px 0px 10px;
  }

  .intro__subtitle {
    font-size: 52px;
  }

  .intro__title {
    font-size: 72px;
    line-height: 80px;
  }

  .intro__title::after {
    margin: 10px 0px 0px 0px;
  }

  .intro__btn {
    margin: 30px 0px 0px 15px;
  }

  .slider__item::before {
    width: 180px;
  }

  .slider__item.active::after {
    width: 60px;
  }

  .slider__item {
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .intro__slider {
    height: 50vh;
  }

  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.33%;
            flex: 0 0 17.33%;
    margin: 0px 0px 0px 10px;
  }

  .slider__item::before {
    width: 140px;
  }

  .slider__item.active::after {
    width: 40px;
  }

  .intro__title {
    line-height: 100px;
  }

  .intro__title::after {
    margin: 20px 0px 0px 0px;
  }

  .intro__btn {
    margin: 70px 0px 0px 15px;
  }
}

@media (max-width: 768px) {
  body.active {
    overflow: hidden;
  }

  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu {
    display: none;
  }

  .link {
    margin: 60px 0px 0px 0px;
  }

  .icon__link.active,
  .logo.active,
  .intro__box.active,
  .intro__slider.active {
    display: none;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 16.5em;
    top: 0;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .top,
  .bot {
    display: inline-block;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .top {
    top: 0;
  }

  .bot {
    bottom: 0;
  }

  .top.active {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .bot.active {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .mid {
    display: inline;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .mid.active {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
    width: 80%;
    font-size: 60px;
    position: relative;
    left: 15%;
    top: 0;
  }

  .intro__slider {
    height: 40vh;
  }

  .about {
    height: auto;
  }

  .about__galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 10px 0px;
  }

  .about__img {
    margin: 0px 0px 10px 0px;
  }

  .design__images {
    left: 20%;
    top: 15.5%;
  }

  .design__inner-img {
    left: 36%;
  }

  .work {
    height: auto;
  }

  .work__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .work__spoiler-item {
    width: 590px;
    margin: 20px 30px 0px 0px;
  }

  .services__card {
    font-size: 14px;
    margin: 30px 0px 0px 10px;
  }

  .services__box::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 300px;
    left: 29%;
    top: 52%;
  }

  .slider__text {
    font-size: 14px;
  }

  .slider__text p::before {
    left: -15%;
  }

  .swiper-button-prev::after {
    left: 25px;
  }

  .swiper-button-next::after {
    right: 25px;
  }

  .team__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .team__card-title {
    margin: 10px 0px 0px 0px;
  }

  .team__card-text {
    margin: 0px 0px 50px 0px;
  }

  .galery__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .galery__box img {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 576px) {
  .burger {
    left: 6em;
    top: -3px;
  }

  .menu.active {
    font-size: 46px;
  }

  .intro__subtitle {
    font-size: 36px;
  }

  .intro__title {
    font-size: 67px;
    line-height: 80px;
  }

  .intro__title::after {
    left: 46%;
  }

  .intro__slider {
    width: 90%;
    height: 44vh;
    margin: 0px 0px 0px 20px;
  }

  .slider__item {
    font-size: 16px;
  }

  .slider__item::before {
    width: 70px;
    left: 1em;
  }

  .slider__item:last-child::before {
    width: 90px;
  }
}

@media (max-width: 370px) {
  .intro__subtitle {
    font-size: 36px;
  }

  .intro__title {
    font-size: 57px;
    line-height: 80px;
  }

  .intro__title::after {
    left: 43%;
  }

  .intro__slider {
    height: 28vh;
    margin: 0px 0px 0px 20px;
  }

  .slider__item {
    text-align: center;
  }

  .slider__item::before {
    width: 60px;
    left: 0.4em;
  }

  .slider__item:last-child::before {
    width: 90px;
  }
}

@media (max-width: 320px) {
  .burger {
    left: 2em;
    top: 0px;
  }

  .menu.active {
    font-size: 36px;
  }
}

@media (max-height: 870px) {
  .intro__slider {
    height: 19vh;
    margin: 0px 0px 0px 20px;
  }
}

.webp .intro { background-image: url(../img/main_back.webp); }

.webp .design { background-image: url(../img/design_background.webp); }

.webp .coments { background-image: url(../img/coments_back_img.webp); }